/* font start */
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
/* font end */
/* common start */
* {
    box-sizing: border-box;
}
body {
    font-family: Lato-Regular;
    font-size: 20px;
    font-weight: 400;
    color: #6e6e6e;
    line-height: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins-SemiBold;
    font-weight: 600;
}
/* common end */
/* top-social start */
.top-social {
    background-color: #cdcdcd;
}
.ts_content {
    text-align: right;
}
.ts_content ul {

}
.ts_content ul li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #6e6e6e;
}
.ts_content ul li:last-child {
    border-right: 0;
}
.ts_content ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #6e6e6e !important;
}
.ts_content ul li a:hover {
    text-decoration: underline;
}
.ts_text {}
.ts_text i {
    font-size: 15px;
    color: #6e6e6e;
    padding-right: 5px;
}
.ts_text a {
    text-decoration: none;
    font-size: 15px;
    color: #6e6e6e !important;
}
.ts_text a:hover {
    text-decoration: underline;
}
.ts_location {}
.ts_location i {
    font-size: 15px;
    color: #6e6e6e;
    padding-right: 5px;
}
.ts_location i:hover {
    cursor: pointer;
}
.ts_location a {
    text-decoration: none;
    font-size: 15px;
    color: #6e6e6e !important;
}
.ts_location a:hover {
    cursor: pointer;
}

/* modal start */
.tsm_span {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.tsm_btn {
    padding: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #6e6e6e;
    /* top: 10;
    right: 10;
    text-align: right; */
}
.tsmd_border {
    border: 1px solid #6e6e6e;
    padding-left: 10px;
    padding-right: 10px;
}
.tsm_confirm {
    padding: 5px 10px;
    color: #fff;
    background-color: #000;
    text-align: center;
    display: block;
    
}
/* modal end */

/* top-social end */
/* header start */
.h_header {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #53565a8a;
    background-color: #fff;
    /* position: relative; */
}
.h_left {}
.hl_bar {
    border: none;
    background-color: #fff;
}
.hl_search {
    border: none;
    background-color: #fff; 
}
.h_center {

}
.h_right {
    text-align: right;

}
.h_right a {
    text-decoration: none;
}
.h_right a i {
    color: #000;
    padding: 10px;
}
.h_right a:nth-child(2) i {
    padding-right: 0px;
}
.h_modal_head {
    border: none;
}
.h_modal_hleft {
    text-align: left;
}
.h_modal_hleft button, .hs_right button {
    font-size: 20px;
    padding: 20px 10px;
}
.h_modal_hright {
    text-align: right;
}
.h_modal_hright i {
    font-size: 20px;
    padding: 20px 10px;
}
.h_modal_body {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.modal-fullscreen .modal-body {
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.modal-fullscreen .modal-body::-webkit-scrollbar {
    display: none;
}
/* .h_modal_body ul li button {
    font-family: Poppins-SemiBold;
    font-size: 22px;
    color: #6e6e6e !important;
    padding: 10px;
    border: none;
    background-color: #fff;
}
.h_modal_body_active {}
.h_modal_body ul li button:active, .h_modal_body_active {
    color: #000 !important;
    
    border-bottom: 1px solid #000;
} */
.nav-pills .nav-link {
    font-family: 'Poppins-SemiBold';
    font-size: 22px;
    background-color: #fff;
    color: #6e6e6e;
    border: none;
    border-radius: 0;
    padding: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #fff;
    color: #000;
    border-bottom: 4px solid #000;
}
.h_modal_tab_item {}
.h_modal_tab_item ul {
    margin: 20px auto;
    text-align: left;
}

.h_modal_tab_item ul li {
    list-style: none;
}
.h_modal_tab_item ul li:first-child {
    font-family: Poppins-SemiBold;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}
.h_modal_tab_item ul li a {
    text-decoration: none;
    color: #6e6e6e;

}
.h_modal_tab_item ul li a:hover {
    text-decoration: underline;
}
/* search start */
.h_modal_search {}

/* .hs_left {
    text-align: left;
}
.hs_right {
    text-align: right;
}
.hs_input {
    border: none;
    padding: 30px 20px;
} */
.hsm_search_input {
    border: none;
}
.hsm_search_text {
    padding-left: 20px;
}
.modal.show .modal-dialog {
    margin-top: 60px;
}
/* search end */
/* header end */



/* xl header start */
.hxl_left {}
.hxl_center {}
.hxl_center a {
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color: #000 !important;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.hxl_right {
    text-align: right;
}
.hxl_right a {
    text-decoration: none;
}
.hxl_right a i {
    color: #000;
    padding: 10px 20px;
}
.hxl_search i {
    padding: 10px 20px;
}
/* xl header end */






/* short-message start */
.sm {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #6e6e6e;
    margin-top: 1px;
}


.sm_ccp {}
.sm_ccp i {
    color: #6e6e6e;
    font-size: 18px;
}
.sm_ccn {}
.sm_ccn i {
    color: #6e6e6e;
    font-size: 18px;
}
.sms_a {
    font-size: 18px;
    padding: 10px auto;
    text-decoration: none;
    color: #6e6e6e !important;
}
/* short-message end */
/* main cta section start */
.mcta {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mcta_left {
    border-right: 1px solid #6e6e6e;
}
.mcta_left a, .mcta_right a {
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color: #000 !important;
    text-decoration: none;
}
.mcta_right {}
.mcta_right a {}
/* main cta section end */
/* banner-one start */
.b_one {
    background-image: url(../images/banner_one_gymshak_2048_800.jpg);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}
.b_one_content {
    padding-top: 150px;
    padding-bottom: 100px;
}
.b_one_content h1 {
    font-family: Poppins-SemiBold;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 250px;
    padding-right: 250px;
}
.b_one_content p {
    text-transform: capitalize;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.c_btn a {
    font-family: Poppins-SemiBold;
    background-color: #fff;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}
.c_btn a:hover {
    background-color: #000;
    color: #fff;
}
/* banner-one end */
/* womens-new-releases start */
/* wnr_top start */
.wnr_top {
    padding-top: 20px;
    padding-bottom: 20px;
}
.wnrt_left {}
.wnrt_left span {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #6e6e6e;
    display: block;
}
.wnrt_left p, .shop_bo_text p {
    font-size: 20px;
}
.wnrt_left h3, .shop_bo_text h3, .filter_content ul li:first-child span {
    font-family: Poppins-SemiBold;
    font-size: 28px;
    color: #000;
}
.wnrt_right {
    text-align: right;
}
.wnrt_right a {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #000;
}
/* wnr_top end */
/* wnr_bottom start */
.wnr_bottom {}
.wnrb_img {
    position: relative;
}
.wnrb_img:hover {
    cursor: pointer;
}
.wnrb_img a {}
.wnrb_img a img {}
/* .wnrb_img_text {
    position: absolute;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
} */
.wnrb_img p {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #000;
    background-color: #ffffff;
    text-align: center;
    padding: 5px 20px 5px;
    margin-top: -60px;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.wnrb_img:hover p {
    visibility: visible;
    opacity: 0.7;
}
.wnrb_price {
    padding-top: 5px;
    margin-bottom: 5px;
}
.wnrbp_left {}
.wnrbp_left p {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
    border-left: 3px solid #000;
}
.wnrbp_right {
    text-align: right;
}
.wnrbp_right p {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #000;
}
.wnrb_text {}
.wnrb_text a {
    text-decoration: none;
}
.wnrb_text a h2 {
    font-family: Lato-Regular;
    font-size: 20px;
    font-weight: 400;
    color: #6e6e6e;
    line-height: 25px;
    margin-bottom: 5px !important;
}
.wnrb_text p {
    font-family: Poppins-Regular;
    font-size: 16px;
}
/* wnr_bottom end */
/* womens-new-releases end */
/* banner-two start */
.b_two {
    background-image: url(../images/banner-one.jpg);
    padding-top: 10px;
    padding-bottom: 10px;
}
.bt_text {
    padding-left: 20px;
}
.bt_text h2 {
    font-family: Poppins-SemiBold;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
}
.bt_text p {
    color: #fff;
}
.bt_text div {}
.bt_img {
    text-align: right;
}
.bt_img img {
    max-height:300px;
    max-width: 100%;
}
/* banner-two end */
/* banner-three start */
.b_three {
    background-image: url(../images/banner-one.jpg);
    padding-top: 80px;
    padding-bottom: 60px;
    min-height: 300px;
}
/* banner-three end */
/* banner-four start */
.b_four {
    background-image: url(../images/banner-one.jpg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.b_four_content {
    padding-top: 100px;
    padding-bottom: 80px;
}
.c_btn_inline {
    display: inline-block;
}
.c_btn_mr {
    margin-right: 10px;
}
.c_btn_ml {
    margin-right: 10px;
}
/* banner-four end */
/* banner-five start */
.b_five {
    background-image: url(../images/banner-one.jpg);
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.b_five_content {
    padding-top: 150px;
    padding-bottom: 50px;
}
/* banner-five end */
/* shop-action start */
.shop-action {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sa_left {
    background-image: url(../images/banner-one.jpg);
    min-height: 300px;
    max-width: 100%;
    margin-right: 5px;
    text-align: right;
}
.sa_left h2 {
    padding-right: 10px;
}
.sa_left div {
    padding-right: 10px;
}

.sa_right {
    background-image: url(../images/banner-one.jpg);
    min-height: 300px;
    max-width: 100%;
    margin-left: 5px;
    text-align: left;
}
.sa_right h2 {
    padding-left: 10px;
}
.sa_right div {
    padding-left: 10px;
}
.sah {
    font-family: Poppins-SemiBold;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 250px;
    padding-right: 250px;
}
.sa_content {
    padding-top: 100px;
}
/* shop-action end */
/* offer-card start */
.offer-card {
    padding-top: 20px;
    padding-bottom: 20px;
}
.oc_item {
    position: relative;
}
.oc_item img {
    
}
.oci_text {
    position: absolute;
    margin: -50% auto;
    left: 0;
    right: 0;
}
.oci_text h3 {
    font-family: Poppins-SemiBold;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
/* offer-card end */
/* big-message start */
.big_message {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bm_card {
    padding: 15px;
}
.bmc_text {}
.bmc_text h5 {
    font-family: Poppins-SemiBold;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 45px;
    text-transform: uppercase;
}
.bmc_text p {
    font-size: 15px;
    color: #6e6e6e;
    line-height: 30px;
}
/* big-message end */
/* action-signup start */
.action_signup {
    margin-top: 20px;
    margin-bottom: 20px;
}
.as_text {
    padding: 30px 10px;
    background-color: #000;
}
.as_text span {
    font-family: Lato-Regular;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    padding-right: 15px;
}
.as_text div {
    display: inline-block;
    padding-left: 15px;
}
/* action-signup end */
/* footer start */
/* footer-top start */
.footer_top {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ft-left start */
.ft_left {}
.ftl_item {}
.ftl_item ul {}
.ftl_item ul li {
    list-style: none;
}
.ftl_item ul li:first-child {
    font-family: Poppins-SemiBold;
    font-size: 15px;
    font-weight: 600;
    color: #000 !important;
    line-height: 45px;
    text-transform: uppercase;
}
.ftl_item ul li a {
    font-size: 15px;
    color: #6e6e6e !important;
    text-decoration: none;
    line-height: 30px;
}
.ftl_item ul li a:hover {
    text-decoration: underline;
}
/* ft-left end */
/* ft-right start */
.ftr_top {}
.ftr_top h5, .ftrbc_text h5 {
    font-family: Poppins-SemiBold;
    font-size: 15px;
    font-weight: 600;
    color: #000 !important;
    line-height: 30px;
    text-transform: uppercase;
}
.ftrb_card {}
.ftrb_card a img {}
.ftrbc_text {
    background-color: rgb(191, 191, 191);
}
.ftrbc_text a {
    text-decoration: none;
}
.ftrbc_text a h5 {
    padding-left: 5px;
    margin: 5px 5px 5px 0px;
    font-size: 12px;
}
/* ft-right end */
/* footer-top end */
/* footer-middle start */
.footer_middle {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fm_payment {}
.fm_payment a {
    text-decoration: none;
    color: #6e6e6e !important;
}
.fm_payment a i {
    padding-left: 5px;
    padding-right: 5px;
}
.fm_social {
    text-align: right;
}
.fm_social a {
    text-decoration: none;
    
    
}
.fm_social a i {
    padding: 3px;
    font-size: 16px;
    color: #fff;
    background-color: #6e6e6e;
}
/* footer-middle end */
/* footer-bottom start */
.footer_bottom {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ababab;
}
.fb_copyright {}
.fb_copyright p {
    padding-left: 5px;
    font-size: 15px;
    color: #6e6e6e;
    line-height: 30px;
}
.fb_menu {}
.fb_menu ul {}
.fb_menu ul li {
    list-style: none;
    display: inline-block;
}
.fb_menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #6e6e6e;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.fb_menu ul li a:hover {
    text-decoration: underline;
}
/* footer-bottom end */
/* footer end */



/* shop page start from here */
/* banner one start */
.shop_banner_one {
    background-color: #e6e6e6;
}
.shop_bo_text {
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.shop_bo_text p {
    color: #000;
}
.shop_bo_text h3 {}
/* banner one end */
/* filter start */
.filter {
    padding-top: 20px;
    padding-bottom: 20px;
}
.filter_content {}
.filter_content ul {
    padding-left: 5px;
}
.filter_content ul li:first-child {

}
.filter_content ul li:first-child span {
    font-size: 18px;

}
.filter_content ul li {
    list-style: none;
    display: inline-block;
}
.filter_content ul li a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #6e6e6e;
    font-size: 18px;
}
.filter_content ul li ul {}
.filter_content ul li ul li {}
.filter_content ul li ul li a {
    font-size: 20px;
    color: #6e6e6e;

}
/* filter end */
/* tab start */
.tab {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab_title {}
.tab_title div button {
    font-size: 20px;
    color: #6e6e6e;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}
.tab_h_menu {
    overflow-x: auto;
    overflow-y:hidden;
    flex-wrap: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.tab_h_menu::-webkit-scrollbar {
    display: none;
}
.tab_h_menu button {
    white-space: nowrap;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000 !important;
    font-family: 'Poppins-SemiBold';
    border: none;
}

/* tab end */
/* product start */
.product {
    padding-top: 20px;
    padding-bottom: 20px;
}
.wnrb_img span {
    position: absolute;
    background-color: #fff;
    top: 10px;
    right: 10px;

}
.wnrb_img span i {
    font-size: 20px;
    padding: 5px;
}
.product_left {}
.product_left i {
    border: none;
    font-size: 16px;
    padding-right: 5px;
    color: red;
}
.product_left span {
    font-size: 16px;
    color: red;
}
.wnrb_text a h2 {
    font-family: Lato-Regular;
    font-size: 20px;
}
.pl_text p {
    border: none;
    font-size: 18px;
    padding-left: 0px;
}

.product_right {}
.product_right p {
    font-size: 18px;
    line-height: 30px;

}
.product_right p:nth-child(2) {
    color: red;
    text-decoration: line-through;
}
/* product end */
/* loadmore start */
.loadmore {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #6e6e6e;
}
.lm_text {}
.lm_btn {
    color: #fff;
    background-color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.lm_text a:nth-child(2) {
    font-size: 18px;
    display: block;
    color: #6e6e6e;
}
.lm_text p {
    font-size: 18px;
}

/* loadmore end */
/* must have section start */
.musthave {
    padding-top: 30px;
    padding-bottom: 30px;
}
.mh_text {}
.mh_text h3 {
    font-family: Poppins-SemiBold;
    font-size: 25px;
    color: #000;
}
.mh_text p {
    font-size: 18px;
}
/* must have section end */
/* shop page end from here */

/* footer md start */


/* fmd_account section start */
.fmd_account_section {
    background-color: #6e6e6e;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fmd_account {
    text-align: center;
}
.fmd_account a {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #fff !important;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.fmd_account a i {
    font-size: 16px;
    color: #fff !important; 
    padding-left: 5px;
}
/* fmd_account section end */

/* fmd_accordion_section start */
.fmd_accordion_section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fmd_accordion {}
.fmd_accordion_item {
    margin-bottom: 20px;
}
.fmd_accordion_item:last-child {
    margin-bottom: 0px;
}
.fmd_accordion_link {}
.fmd_accordion_link ul {
    padding-left: 10px;
}
.fmd_accordion_link ul li {
    list-style: none;
}
.fmd_accordion_link ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #6e6e6e !important;
}
.fmd_accordion_link ul li a:hover {
    text-decoration: underline;
}
/* fmd_accordion_section end */
/* fmd_middle_section start */

/* fmd_middle_section end */
/* fmd_bottom_md_section start */
.fmd_bottom_md_section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fmd_bottom_md_left {}
.fmd_bottom_md_left ul {}
.fmd_bottom_md_left ul li {
    list-style: none;
}
.fmd_bottom_md_left ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #6e6e6e !important;
}
.fmd_bottom_md_left ul li a:hover {
    text-decoration: underline;
}
.fmd_bottom_md_right {
    text-align: right;
} 
.fmd_bottom_md_right_top {
    margin-bottom: 100px;
}
.fmd_bottom_md_right_bottom {}
/* fmd_bottom_md_section end */

/* fmd_bottom_sm_section start */
.fmd_bottom_sm_section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fmd_bottom_sm_top_txt_center {
    text-align: center !important;
}
.fmd_bottom_sm_top {
    margin-bottom: 20px;
}
.fmd_bottom_sm_middle {
    text-align: center !important;
    margin-bottom: 20px;
}
.fmd_bottom_sm_bottom {
    text-align: center !important;
}
.fmd_bottom_sm_top_txt_center a i {
    margin-left: 5px;
}


/* fmd_bottom_sm_section end */

/* fmd_copyright_section start */
.fmd_copyright_section {
    padding-top: 10px;
    border-top: 1px solid #6e6e6e;
}
/* fmd_copyright_section end */



/* footer md end */